/*-----------------------------------------------------------*/
/* Style de la carte
/*-----------------------------------------------------------*/
.olImageLoadError { 
         display: none;
   background-image: url('../img/empty.png');
    background-repeat: no-repeat;}
h3 {
   margin-top: 0.1em;
   margin-bottom: 0.5em;
}

h2.olMap  {
   font-size: 5em;
}
div.olControlAttribution{
   bottom: 2.5em;
}

.olPopup{
   height: auto;
}

.olPopup h2{
   font-size: 0.8em;
}



#selectItem {
    clear:both;
    float:left;
    width:19%;
    font-size: 10pt;
    background-color: #F7FAFF;
   border-style: solid; 
   border-width: 1px 0px 1px 1px; 
}

.olFramedCloudPopupContent {
   max-width: 200px;
}

.olFramedCloudPopupContent h3{
   font-size: 0.7em
}

.olFramedCloudPopupContent p{
   font-size: 0.7em
}



/*-----------------------------------------------------------*/
/* Style des pages 
/*-----------------------------------------------------------*/       
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
	color: black; 
   background-color: black;
	font-family: verdana,arial,sans-serif;
   font-size: 100%;
}
#mapPage{
	border: 1px solid black;
	margin: 0;
	border: 0;

	height: 100%;
	width:  100% 
}
#page{
	border: 1px solid black;
	margin: 0;
	border: 0;

	height: 100%;
	width:  100% 
}
/*-----------------------------------------------------------
 * Top-Bar
 *----------------------------------------------------------*/
#topbar {
    background-color: black;
    color: white;
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    top: 0;
    padding: 0px;
    font-size:100%;
} 
#topbar h1{
	margin: 0;
	padding: 0;
   font-size:140%;
   font-weight: bold;
}   
#topbar td.left{
	width:20%;
}
#topbar table{
	width: 100%;
}
#topbar td.center{
	width: 60%;
}
#topbar td.right{
	width: 20%;
	text-align: right;
}
#topbar a{
	color: white;
}
/*-----------------------------------------------------------
 * Sidebar
 *----------------------------------------------------------*/
#sidebarMini {
    background-color: white;
    color: black;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: left;
    top: 30px;
    width: 40px;
    padding: 0px;
    font-size:100%;
    margin-right: 3px;
}
#sidebar {
    background-color: white;
    color: black;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: left;
    top: 30px;
    width: 400px;
    padding: 0px;
    font-size:100%;
    margin-right: 3px;
    overflow: auto;
}
#sidebar div.content{
	margin: 3px;
	}
#sidebar div.right{
	float: right;
	font-size: 0.8em;
}
#sidebar a{color: black;}
#sidebar a:visited{color: black;}
.div .text {
	text-align: center;
}
	
.trigger {
   clear:left;
   margin-left: 1px;
    border-radius: 5px 0px 5px 0px;
    border-top: 1px solid #DDDDDD;    
    border-left: 1px solid #DDDDDD;
    /*box-shadow: -1px -1px 1px #ddd;*/
    cursor: pointer;
    margin-bottom: 0px;
    padding: 5px;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
    width: 320px;	
    text-align: left;
    font-size: 0.85em;
    font-weight: bold; 
    color: #063D5B;   
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 1px 1px #fff inset;
	-webkit-box-shadow:0 1px 1px #fff inset;
	box-shadow:0 1px 1px #fff inset;
	background:-moz-linear-gradient(center top, #e9e9e9 50%, #ddd 50%);
	background-color:#ddd;
	border:1px solid #ddd;
	color:#888;
	cursor:pointer;
	margin-bottom:5px;
	padding:5px;
	text-shadow:0 1px 0 #fff;
	width:388px;*/
}
.trigger_active {
	color:#aaa;
}
.toggle_container {
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    margin: 0px;
    padding: 1px;
    width: 100%;
    margin: 0;
    font-size: 0.77em;
 }
.toggle_container p{
	margin-top: 0; 
	font-weight: normal;
	text-align: left;
	margin: 0 2px 5px;
}
.toggle_container form{
	clear: both;
}

.toggle-container-bottom {
   clear: both;
   height: 20px;
}

#sidebar h3{
	font-size: 1.0em;
	font-weight: bold;
    color: #063D5B;
}
#sidebar dl{
   margin-top: 0em;
}
#sidebar dt{
   font-weight: bold;
   margin-top: 0.5em;
   margin-bottom: 0.2em;
   font-size: 1.1em;
    color: #063D5B;
}
#sidebar dd{

}
#sidebar li{

}
#sidebar .legende_img{
	clear: left;
	float: left;
	margin-top: 0em;
	
}
#sidebar .legende_img_text{
	float: left;
		font-size: 0.77em;
	margin-left: 1em;
	margin-top: 0.3em;
   max-width: 250px;
}
#sidebar .pre{
   font-family: courier new;
   font-size: 1.2em;
   margin-left: 2em;
   width: 100%;;overflow:auto;
}
/*----------------------------------------------------------------------------------
 * Checkboxen
 *--------------------------------------------------------------------------------*/
div.checkbox{
   width: 25px;
   clear: left;
   float:left;
}
div.checkbox-text{
   width: 85%;
   float: left;
   text-align: left;
   padding-top: 2px;
}
.checkbox-text h3{
   margin-top: 0px;
}
.checkbox-text p{
   margin-top: 0px;
}
/*----------------------------------------------------------------------------------
 * Map Frame
 *--------------------------------------------------------------------------------*/


#basicMap{
    border-style: solid;
    border-width: 0 0px 0 1px;
    font-size: 100%;
    height: 100%;
    /*margin: 0.2%;*/
    position: absolute;
    padding-top: 0px;
    top: 30px;
    left: 400px;
    right: 0px;
	 max-width: 1540px;
    background-color: white;
    
}
#page .content{
    border-style: none;
    border-width: 0;
    font-size: 0.9em;
    /*height: 100%;*/
    left: 200px;
    max-width: 800px;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 200px;
    right: 0;
	background-color:  white;    
	padding: 5px 50px 5px 25px;
}
#page .content h1,
#page .content h2,
#page .content h3{
   color: #063D5B;
   margin-bottom: 0.3em;
}
#page .content h3{
   margin-top: 0.8em;
}
#page .content .sommaire{
   text-indent:0em;
   margin: 0 0 0.2em 0;
}
#page .content p{
   margin-top: 0;
    margin-bottom: 0.2em;
}
#page .content dt{
   font-weight: bold;
   margin-top: 0.5em;
   margin-bottom: 0.2em;
}
#page .content ul{
   margin-top: 0.3em;
}
#page .content li{
   margin-bottom: 0.5em;
}
#page .content .pre{
   font-family: courier new;
   margin-left: 2em;
   width: 100%;;overflow:auto;
}
#page .content .legende_img{
	clear: left;
	float: left;
	margin-top: 0em;
	
}
#page .content .legende_img_text{
	float: left;
	margin-left: 1em;
	margin-top: 0.3em;
   max-width: 500px;
}


#noscript{
   max-width: 450px;
   margin: 1em;
}
/*-----------------------------------------------------------*/
/* Divers, (non utilisés actuellement)
/*-----------------------------------------------------------*/
        
        #divPoi {
           float:left;
           clear:right;
           width:100%;
            padding:0.4em;
        }
        #selectPoiCat{
         width: 40%;
        }
        #selectPoi {
         width: 55%;
        }
        #divStreet {
           float:left;
           clear:right;
            border-style: solid; 
            border-width: 1px 0px 0px 0px; 
            padding:0.4em;
             height: 415px;
             overflow: scroll
        }
        #divSearchStreet {
         padding-left: 0em;
         clear:both;
        }
        #streetSelect {
         width: 90%;
        }        
/*        #searchresult {   echo "</div>";

             clear:both;
             float:left;
             width:19%;
             font-size: 10;
             background-color: #F7FAFF;
            border-style: solid; 
            border-width: 1px; 
             height: 415px;
             overflow: scroll
        }*/
